body {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
}
body .imgbox img {
  width: 100%;
}
body section {
  padding: 50px 0;
}

header {
  padding: 30px 0;
  background-image: url("assets/header-bg.jpg");
  background-size: cover;
  background-position: center;
}
header .imgbox {
  width: 190px;
  height: 25px;
}
header .imgbox:hover {
  cursor: pointer;
}
header nav a {
  display: inline-block;
  font-size: 20px;
  color: white;
  margin-right: 20px;
}
header nav a:hover {
  color: #ffc800;
  cursor: pointer;
}
header .textbox {
  padding: 130px 0;
}
header .textbox h2 {
  font-size: 45px;
  font-style: italic;
  color: white;
}
header .textbox h1 {
  font-size: 85px;
  font-weight: 600;
  margin: 30px 0;
  color: white;
}
header .textbox .btn {
  margin-top: 30px;
  width: 220px;
  height: 70px;
  background-color: rgba(247, 214, 0, 0.9803921569);
  color: white;
  padding: 17px 0;
}
header .textbox .btn:hover {
  background-color: #ffc800;
  color: white;
}
header .textbox .btn h3 {
  font-size: 20px;
  font-weight: 600;
}
header .textbox .btn h3:hover {
  cursor: pointer;
}

#services {
  padding: 100px 0;
}
#services .textbox h1 {
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 20px;
}
#services .textbox h3 {
  font-size: 20px;
  margin-bottom: 50px;
  font-style: italic;
  color: #b5adad;
}
#services .box {
  text-align: center;
}
#services .box h2 {
  font-size: 30px;
  font-weight: 600;
  margin: 12px 0 18px;
}
#services .box p {
  font-size: 20px;
  line-height: 1.4;
  color: #6d757d;
}
#services .box .icon {
  background-color: #ffc800;
  border-radius: 50%;
  padding: 30px 0;
  width: 130px;
  height: 130px;
  margin: auto;
}
#services .box .icon i {
  width: 77px;
  height: 70px;
  color: white;
}

#portfolio {
  padding: 80px 0;
  background-color: #f8f9fa;
}
#portfolio .textbox {
  text-align: center;
  padding: 15px 0;
  margin: auto;
}
#portfolio .textbox h1 {
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 20px;
}
#portfolio .textbox h4 {
  font-size: 20px;
  margin-bottom: 50px;
  font-style: italic;
  color: #b5adad;
}
#portfolio .box {
  background-color: white;
  margin-bottom: 20px;
  position: relative;
}
#portfolio .box h2, #portfolio .box h3 {
  margin: 10px 0;
}
#portfolio .box h2 {
  font-size: 27px;
  font-weight: 600;
}
#portfolio .box h3 {
  font-style: italic;
  font-size: 20px;
  color: #b5adad;
}
#portfolio .box .hover-content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 312px;
  opacity: 0;
  background-color: rgba(255, 200, 0, 0.9058823529);
  transition: 0.3s;
}
#portfolio .box .hover-content:hover {
  transition: 0.3s;
  opacity: 99%;
  cursor: pointer;
}
#portfolio .box .hover-content .icon {
  width: 60px;
  height: 60px;
  color: white;
}
#portfolio .box .hover-content .icon i:hover {
  cursor: pointer;
}

#amazingteam {
  padding: 80px 0;
  background-color: #f8f9fa;
}
#amazingteam .textbox {
  max-width: 850px;
  margin: auto;
  text-align: center;
}
#amazingteam .textbox h1 {
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 20px;
}
#amazingteam .textbox h4 {
  font-size: 20px;
  margin-bottom: 70px;
  font-style: italic;
  color: #b5adad;
}
#amazingteam .box .imgbox {
  width: 230px;
  height: 230px;
  border: 8px solid #dfe0e1;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
}
#amazingteam .box h2, #amazingteam .box h3 {
  margin: 10px 0;
}
#amazingteam .box h2 {
  font-size: 27px;
  font-weight: 600;
}
#amazingteam .box h3 {
  font-size: 20px;
  color: #b5adad;
  margin-bottom: 20px;
}
#amazingteam .box .iconbox {
  margin: auto;
}
#amazingteam .box .iconbox .icon {
  display: inline-block;
  background-color: #212529;
  border-radius: 50%;
  color: white;
  padding: 13px;
  width: 40px;
  height: 40px;
  margin: 0 9px;
}
#amazingteam p {
  font-size: 20px;
  color: #b5adad;
  margin-top: 50px;
  max-width: 1000px;
}/*# sourceMappingURL=style.css.map */